---
import Layout from "../layout/BasicLayout.astro";
import { faker } from "@faker-js/faker";

const cuteAnimals = Array.from({ length: 10 }, () =>
  faker.image.animals(400, 500, true)
);

// console.log(cuteAnimals);
---

<Layout>
  <h1>Hello there my frined</h1>
  {cuteAnimals.map((src) => <img src={src} alt="random animal" />)}
</Layout>

<style is:global>
h1{
  font-size: 20px;
}
</style>

<script> 
// your script
</script>
